body {
  font-size: 110%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: sans-serif;
  background-color: #dddddd;
  color: #003366;
  text-align: center;
  padding: 16px;
  margin: 0 0 60px 0;
  border-bottom: 1px solid #aaaaaa;
}

div.container {
  width: 800px;
  margin: 30px auto 100px auto;
}

form {
  margin: 1.2em 2.6em;
  background-color: #aaccee;
  text-align: center;
  padding: 16px 0;
}

form input {
  font-size: 24px;
}

input#registration-code {
  width: 9em;
}

input.jq-couponcode-part {
  font-family: monospace;
  width: 3em;
  text-align: center;
}

input.jq-couponcode-good {
  background-color: #77ff77;
}

input.jq-couponcode-bad {
  background-color: #ff7777;
}

span.jq-couponcode-sep {
  font-family: monospace;
  font-weight: bold;
  padding: 0 0.2em;
}

div.tab_content  ul {
  margin: 1em 0;
  padding: 0;
}

div.tab_content  ul li {
  margin: 0.6em 0 0.6em 1.0em;
}
