body {
  font-size: 18px;
}

form input {
  font-size: 24px;
}

input#registration-code {
  width: 9em;
}

input.jq-couponcode-part {
  font-family: monospace;
  width: 3em;
  text-align: center;
}

input.jq-couponcode-good {
  background-color: #77ff77;
}

input.jq-couponcode-bad {
  background-color: #ff7777;
}

span.jq-couponcode-sep {
  font-family: monospace;
  font-weight: bold;
  padding: 0 0.2em;
}
